<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RegisterServlete</servlet-name>
        <servlet-class>shop.web.servlet.RegisterServlete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlete</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActiveServlet</servlet-name>
        <servlet-class>shop.web.servlet.ActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveServlet</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkUserName</servlet-name>
        <servlet-class>shop.web.servlet.checkUserName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkUserName</servlet-name>
        <url-pattern>/checkUserName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindProductServlet</servlet-name>
        <servlet-class>shop.web.servlet.FindProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindProductServlet</servlet-name>
        <url-pattern>/findproductservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindCategoryServlet</servlet-name>
        <servlet-class>shop.web.servlet.FindCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindCategoryServlet</servlet-name>
        <url-pattern>/findcategoryservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Product_ListServlet</servlet-name>
        <servlet-class>shop.web.servlet.Product_ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product_ListServlet</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
</web-app>